@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --background-color: #192116;
    --header-color:#C5C7C5;
    scroll-behavior: smooth;
}